/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.about-me {
  display: inline-block;
  text-align: center;
  margin: 0 30% 0 30%;
}

table {
  width: 80%;
  text-align: left;
  margin: 2% 10% 5% 10%;
}

thead {
  font-size: 20px;
  font-weight: bolder;
  background-color: #00ffff;
}

td {
  padding: 5px;
}
table,
tr {
  border: 1px solid #778899;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  0% {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  100% {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  0% {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  100% {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.sun {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}
